{% extends "base.html" %}
{% load i18n %}

{% block content %}

    {% if validlink %}

        <div class="p-header">
        <h2>Password Reset</h2>
        </div>

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form  method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.new_password1.html_name }}">{{ form.new_password1.label_tag }}</label>
                <input type="password" class="form-control" id="{{ form.new_password1.html_name }}" name="{{ form.new_password1.html_name }}" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.html_name }}">{{ form.new_password2.label_tag }}</label>
                <input type="password" class="form-control" id="{{ form.new_password2.html_name }}" name="{{ form.new_password2.html_name }}" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">{% trans 'Change my password' %}</button>
        </form>

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ form.errors }}
        </div>
        {% endif %}

    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}